
<div class=" content">
  <div class=" row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-8">
          <div class="card welcome-text">
            <h2>Add Items</h2>
            <p>List of items you have received for  New Cards. Please do needfull
              or click add more items to add items.
            </p>
          </div>
        </div>
      <div class="col-md-4 text-right"><div class="welcome-image float-right"><img src="./assets/img/welcome-img.png" /></div></div>
    </div>
  </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-body">
          <form>
            <div class=" form-group">
              <label>Label One</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Two</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Three</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Four</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Five</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-body">
          <form>
            <div class=" form-group">
              <label>Label One</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Two</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Three</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Four</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
            <div class=" form-group">
              <label>Label Five</label>
              <input
                class=" form-control"
                type="text"
              />
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-primary" type="submit"><i class=" tim-icons icon-simple-add"></i> Add</button>
          <button class=" btn btn-outline-primary" type="submit">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
