
<div class=" content">
  <div class=" row">
    <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div class="card welcome-text">
              <h2>Welcome Back <span class="primary-text">Purnima</span> !</h2>
              <p>List of items you have received for <span class="primary-text">20 New Cards</span>
              </p>
              <div class="cta-btn">
                <a routerLink="/addcustomer" class="btn btn-warning"><i class=" tim-icons icon-simple-add"></i>Add Customer</a>
                <a routerLink="/add-newproduct" class="btn btn-primary">New Product</a>
                <a href="" class="btn btn-info">Card Operation</a>

                <!-- <button class="btn btn-warning" type="button"><i class=" tim-icons icon-simple-add"></i>Add Customer</button>
                <button class="btn btn-primary" type="button">New Product</button>
                <button class="btn btn-info" type="button">Card Operation</button> -->
              </div>
            </div>
          </div>
        <div class="col-md-4 text-right"><div class="welcome-image float-right"><img src="./assets/img/welcome-img.png" /></div></div>
      </div>
    </div>

  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-category">My Cards</h4>
        </div>
        <div class=" card-body">
          <div class="card-list">
            <div class="user-avatar">
              <a href="#" class="avatar">
                <img src="assets/img/james.jpg" alt="Image placeholder" />
              </a>
            </div>
            <div class="card-detail">
              <div class="card-name">
                <p>Manoj Adhikari</p>
              </div>
              <div class="progress-wrapper">
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
                <div class="progress-percentage">
                  <span>60%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-list">
            <div class="user-avatar">
              <a href="#" class="avatar">
                <img src="assets/img/emilyz.jpg" alt="Image placeholder" />
              </a>
            </div>
            <div class="card-detail">
              <div class="card-name">
                <p>Purnima Sai</p>
              </div>
              <div class="progress-wrapper">
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <div class="progress-percentage">
                  <span>80%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-list">
            <div class="user-avatar">
              <a href="#" class="avatar">
                <img src="assets/img/mike.jpg" alt="Image placeholder" />
              </a>
            </div>
            <div class="card-detail">
              <div class="card-name">
                <p>Nikesh Shrestha</p>
              </div>
              <div class="progress-wrapper">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <div class="progress-percentage">
                  <span>90%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-list">
            <div class="user-avatar">
              <a href="#" class="avatar">
                <img src="assets/img/anime3.png" alt="Image placeholder" />
              </a>
            </div>
            <div class="card-detail">
              <div class="card-name">
                <p>Sandesh Chhetri</p>
              </div>
              <div class="progress-wrapper">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
                <div class="progress-percentage">
                  <span>50%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-category">My Status</h4>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-category">Daily Sales</h4>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>

  </div>
  <div class=" row">
    <!-- <div class=" col-lg-6 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h6 class=" title d-inline">Tasks(5)</h6>
          <p class=" card-category d-inline">today</p>
          <div ngbDropdown>
            <button
              class=" btn btn-link btn-icon"
              data-toggle="dropdown"
              ngbDropdownToggle
              type="button"
            >
              <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
            <div
              aria-labelledby="dropdownMenuLink"
              class=" dropdown-menu-right"
              ngbDropdownMenu
            >
              <a href="javascript:void(0)" ngbDropdownItem> Action </a>
              <a href="javascript:void(0)" ngbDropdownItem> Another action </a>
              <a href="javascript:void(0)" ngbDropdownItem> Something else </a>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-full-width table-responsive">
            <table class=" table">
              <tbody>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input
                          class=" form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Update the Documentation</p>
                    <p class=" text-muted">
                      Dwuamish Head, Seattle, WA 8:47 AM
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input
                          checked=""
                          class=" form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">GDPR Compliance</p>
                    <p class=" text-muted">
                      The GDPR is a regulation that requires businesses to
                      protect the personal data and privacy of Europe citizens
                      for transactions that occur within EU member states.
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input
                          class=" form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Solve the issues</p>
                    <p class=" text-muted">
                      Fifty percent of all respondents said they would be more
                      likely to shop at a company
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input
                          class=" form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Release v2.0.0</p>
                    <p class=" text-muted">
                      Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body"  >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input
                          class=" form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Export the processed files</p>
                    <p class=" text-muted">
                      The report also shows that consumers will not easily
                      forgive a company once a breach exposing their personal
                      data occurs.
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class=" form-check">
                      <label class=" form-check-label">
                        <input
                          class=" form-check-input"
                          type="checkbox"
                          value=""
                        />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class=" title">Arival at export process</p>
                    <p class=" text-muted">
                      Capitol Hill, Seattle, WA 12:34 AM
                    </p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class="">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Date</th>
                  <th>Item Code</th>
                  <th>Remarks</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name One of the item</td>
                  <td>1</td>
                  <td>2020/01/15</td>
                  <td>01234</td>
                  <td>Lorem ipsum dolor sit amet,elit.</td>
                  <td>
                    <div class="action-icon">
                      <a href="#"><i class="far fa-edit"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>